* {
  box-sizing: border-box;
}

.hidden {
	display: none;
 }

body {
  font-family: 'Jua', sans-serif;
  font-size: 14px;
  background-color: #7F7F7F;
}

h1 {
  text-align: center;
}

#start-container {
  background-color: white;
}
