* {
  box-sizing: border-box;
}

.hidden {
	display: none;
 }

body {
  font-family: 'Jua', sans-serif;
  font-size: 14px;
  background: url('../img/noise-bg.png');
  background-color: #354c54;
  background-repeat: repeat;
  color: #d6d6bb;
}

h1 {
  text-align: center;
  font-size: 4em;
}

section {
  background-color: #092d2a;
  padding: 20px;
  height: 50%;
  font-size: 1.5em;
  border-radius: 5px;
  box-shadow: 3px 4px #0b1f1d;
}

button {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  background-color: #10b9a3;
  cursor: pointer;
  border: none;
  color: #d8dc6f;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Jua', sans-serif;
}

button:hover {
  background-color: #fbd34f;
  color: #10b9a3;
}

/*scoreboard*/
.title-scores {
  text-align: center;
}

.question-number, .scores {
  font-size: 16px;
}

.question-number {
  float: left;
  margin-left: 10px;
  color: #11b9a3;
}

.scores {
  float: right;
  margin-right: 10px;
  color: #d2b515;
}

/*start*/
.wasaab {
  float: left;
  display: block;
  width: 145px;
  margin-right: 15px;
  border-radius: 30%;
  margin-bottom: 10px;
}

.play-button {
  clear: both;
}

/*quizcontainer*/
fieldset {
  text-align: center;
}

label {
  display: flex;
  margin-bottom: 8px;
}

label:hover {
  /*background-color: #092d2a;*/
  color: #10b9a3;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 10px;
  height: 15px;
  width: 15px;
  background: #cbd1d8;
  border: none;
  border-radius: 50%;
  transition: all 0.15s ease-out 0s
  outline: none;
}

input:checked {
  background-color: #d2b515;
  outline: none;
}

/*feedback*/
.right-answer {
  background-color: #3c733c;
}

.right-answer h3 {
  color: ;
}

.wrong-answer {
  background-color: #ce8458;
}

.wrong-answer h3 {
  color: #75161c;
}

.next-button {
   background-color: #354247;
}

.next-button:hover {
  color: #42557C;
}

.feedback {
  color: white;
  text-align: center;
}


/*footer*/
footer img {
  display: block;
  height: 200px;
  margin: 20px auto 0px auto;
}
